/backend/.venv
backend/.env
/backend/__pycache__
/backend/pipelines/__pycache__
/backend/routes/__pycache__
/backend/services/__pycache__
/backend/backend/uploads
backend/models/__pycache__/__init__.cpython-311.pyc
backend/models/__pycache__/supervisor.cpython-311.pyc
/.venv
